@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
body{
    background-image: linear-gradient(to bottom,hsl(273, 75%, 66%),  hsl(240, 73%, 65%));
    height: 100vh;
  width: 100vw;
}
ul{
    list-style-type: none;
}
.cont_mainCard{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 65%;
    margin: 0 auto;
    height: 700px;
    border-radius: 15px;
    background-color: #FFF;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.cont_izq{
    width: 50%;
    position: relative;
}
.cont_izq img{
    position: absolute;
    left: -91px;
    display: block;
    top: 45%;
}
.cont_izq .bg_1{
    background-image: url("../images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-position: 106% center;
    width: 100%;
    height: 700px;
    display: block;
    overflow: hidden;
}
.cont_izq .bg_2{
    background-image: url("../images/illustration-woman-online-desktop.svg");
    background-repeat: no-repeat;
    background-position: -95px center;
    width: 100%;
    height: 700px;
    display: block;
    background-size: 110%;
}
.cont_der{
    width: 50%;
    cursor: default;
}
.cont_der h1{
    color: hsl(238, 29%, 16%);
    margin-bottom: 40px;
}
.cont_der ul{
    width: 70%;
}
.cont_der li{
    width: 100%;
    box-shadow: 0 1px 0 0 hsl(240, 5%, 91%);
    padding: 20px 0;
}
.cont_der .active > h4{
    color: hsl(237, 12%, 33%);
}
.cont_der .active > p{
    display: block;
}
.cont_der h4{
    color: hsl(240, 6%, 50%);
    cursor: pointer;
    display: block;
    width: 100%;
    position: relative;
    padding-right: 15px;
}
.cont_der h4 img{
    position: absolute;
    top: 5px;
    right: 0;
}
.cont_der h4:hover{
    color: hsl(14, 88%, 65%);
}
.cont_der p{
    display: none;
    color: hsl(240, 6%, 50%);
    margin-top: 15px;
    width: 100%;
}
.attribution{
    text-align: center;
    width: 100%;
    padding: 40px 0;
}

@media (max-width:375px) {
    .cont_mainCard{
        flex-direction: column;
        flex-wrap: nowrap;
        width: 80%;
        top: 0;
        transform: none;
        margin-top: 200px;
        justify-content: unset;
    }
    .cont_izq, .cont_der{
        width: 90%;
        top: -100px;
    }
    .cont_der ul{
        width: 98%;
    }
    .cont_der h1{
        text-align: center;
    }
    .cont_izq .bg_1{
        background-image: url("../images/bg-pattern-mobile.svg");
        height: 200px;
        width: 100%;
        background-size: contain;
        background-position: bottom;
    }
    .cont_izq .bg_2{
        background-image: url("../images/illustration-woman-online-mobile.svg");
        height: 200px;
        width: 100%;
        background-position: -9px top;
        background-size: contain;
    }
    .cont_izq img{
        display: none;
    }
}